<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.javabutton"
	android:versionCode="10"
	android:versionName="10" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="23" />
	<supports-screens
		android:largeScreens="true"
		android:xlargeScreens="true" />
	<uses-feature
		android:name="android.hardware.sensor.accelerometer"
		android:required="false" />
	<uses-feature
		android:name="android.software.app_widgets"
		android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.javabutton.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="JavaButtonWidgetProvider"
			android:label="@string/redjavabo_name">
	    	<intent-filter >
	       		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	       		<action android:name="com.example.javabutton.JavaButtonWidgetProvider.JAVA_ACTION" />
	    	</intent-filter>
	    	<meta-data android:name="android.appwidget.provider"
	       			   android:resource="@xml/javabutton_appwidget_info" />
		</receiver>
		<receiver android:name="AoiJavaboWidgetProvider"
			android:label="@string/blujavabo_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.example.javabutton.JavaButtonWidgetProvider.AOI_ACTION" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/aoi_appwidget_info" />
		</receiver>
       <activity
           android:name="com.example.javabutton.SettingsActivity"
           android:label="@string/settings_title" >
            
       </activity>
	</application>
</manifest>
